---
layout: archive
---

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }} </h3> -->

{% for post in paginator.posts %}

      <article class="post archive__item-excerpt">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
	  	<span class="page__meta"><i class="far fa-clock" aria-hidden="true"></i> {% include read-time.html %}</span>
        {{ post.excerpt }}
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more btn btn--info">Читать дальше</a>
    </article>
{% endfor %}

{% include paginator.html %}
