---
layout: tag-layout
---
<!-- We're going to give each page a tag when we create it.
This will be the title -->
<h1>{{ page.tag | capitalize }}</h1>

<div class="view-content">
    {% for post in site.tags[page.tag] %}
<div class="views-row">
<span class="nev">{% include date.html date=post.date %}</span>: <a href="{{ post.url }}">{{ post.title }}</a>
</div>
  {{ post.content | strip_html | truncatewords:75}}
</em></strong>  <!-- This is what does the task-->
<br>
            <a href="{{ post.url }}">Read more...</a><br><br>
    {% endfor %}
</div>